h1.newC Add Hearings for Complaint ##{@complaint.complaint_number} by #{@complaint.complainant}
== render "complaints/partials/complaint_nav", current: "actions"

== render 'complaints/forms/hearing_form'
