h1.newC All Hearings for Complaint ##{@complaint.complaint_number} by #{@complaint.complainant}
== render "complaints/partials/complaint_nav", current: "actions"

hr

== render 'complaints/partials/hearing_list'

br

.center = link_to 'Back', actions_complaint_path(@complaint), class: "btn btn-primary btn-sm center"
