h1.newC Timeline for Complaint ##{@complaint.complaint_number} by #{@complaint.complainant}
== render "complaints/partials/complaint_nav", current: "timeline"

/ format - event, on, by
/ events - filed, recieved, forwarded, feedback-dcw, feedback-callcenter, feedback-agency, interim, final, close, dispose, hearing