
.new-complaint{
  margin: 20px;
}

.form-actions{
  padding: 7px;
}

.newC{
  text-align: center;
}

.btn{
  background-color: #428bca;
  border-color: #357ebd;
  color: white;
}

.btn:hover{
  background-color: #357ebd;
  border-color: #357ebd;
  color: white;
}

.back > a{
  color: inherit;
  text-decoration: none;
}

.pretty th .current {
  padding-right: 12px;
  background-repeat: no-repeat;
  background-position: right center;
}

.pretty th .asc {
	&:after{
		content: "▲";
	}
}

.pretty th .desc {
	&:after{
		content: "▼";
	}
}
a, a:hover, a:visited, a:focus, a:active{
  color: #222;
  text-decoration: none;
}
.btn{
  color: white !important;
}